@media screen and (max-width: 426px) {  /*telephone*/
    .d2 .competences img {
        height: 15%;
        width: 15%;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {  /*tablette*/
    .d2 .competences img {
        height: 11%;
        width: 11%;
    }
}

@media screen and (max-width: 768px) { /*petit*/

    body {
        overflow-x: hidden;
    }

    .load {
        min-height: 100vh;
    }

    main { 
        flex-direction: column;
        scroll-behavior: auto;
        width: 100vw;
    }

    .fond {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

    .d1, .l1 {
        min-width: 100vw;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10vh;
    }

    .l1 {
        min-height: 90vh;
    }

    .d1 {
        height: 90vh;
    }

    .d2, .l2 {
        width: 75vw;
        justify-content: flex-start;
    }

    .l2 {
        height: 0;
    }

    .d2 {
        align-items: center;
        min-height: 80vh;
        justify-content: center;
    }

    .d1 img, .l1 img{
        max-width: 90%;
        max-height: 100%;
    }

    .apres {
        flex-direction: column;
        height: 100vh;
    }

    .avant {
        height: 100vh;
    }

    .scroll, .scroll2 {
        visibility: hidden;
        display: none;
    }

    .l1 .pp, .d1 .pp {
        width: 20vh;
        height: 20vh;
        align-self: flex-start;
        margin-bottom: 5vh;
    }

    .d2 .pp {
        display: none;
    }
}

@media screen and (min-width: 769px) {  /*grand*/

    body {
        overflow: hidden;
    }

    .load {
        height: 100vh;
    }

    main { 
        scroll-behavior: unset;
    }

    .fond {
        height: 100vh;
    }

    .d1, .l1 {
        width: 60vw;
        border-right: solid 1px black;
        justify-content: center;
        height: 100vh;
        align-items: flex-end;
    }

    .d2, .l2 {
        width: 35vw;
        padding: 5vh;
        max-height: 100vh;
        justify-content: center;
    }
    .d1 img, .l1 img{
        width: 100%;
        height: auto;
    }

    .d1 .pp {
        display: none;
    }

    /*Srcoll*/

    .scroll, .scroll2 {
        position: fixed;
        bottom: 0;
        height: 0.8vh;
        left: 0;
        transition: width 0.25s ease-in-out;
    }
    
    .scroll {
        background-color: rgba(27, 27, 27, 0.651);
        z-index: 3;
    }
    
    .scroll2 {
        background-color: rgba(0, 0, 0, 0.062);
        width: 100vw;
        z-index: 2;
    }

    .d2 .competences img {
        height: 10%;
        width: 10%;
    }

    .pp {
        width: 10vw;
        height: 10vw;
    }

    .avant, .apres {
        height: 100vh;
    }

    .l1 img.pp {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    overflow-x: hidden;
    display: flex;
    background-color: white;
    margin: 0;
    padding: 0;
}

/*Fond*/

.fond {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(255, 174, 0, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    z-index: 0;
}

.d1, .l1 {
    display: flex;
}

.d1 img, .l1 img{
    padding-bottom: 1vh;
}

.d2, .l2 {
    display: flex;
    flex-direction: column;
    font-size: 2.5vh;
}

.d2 > div {
    padding-bottom: 3vh;

}

.d2 div:first-child {
    padding-bottom: 1vh;
}

.pp {
    padding: 3vh;
}

.d2 .competences .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.d2 .competences img {
    padding: 1vh;
    padding-left: 0;

}

/* Load */

.load {
    background-color: black;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

.avant, .apres {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
}

.l1 {
    border: none;
}

.l1 img {
    filter: invert();
    opacity: 0;
}

.l1 img.pp {
    filter: none;
    opacity: 0;
}

.avant {
    flex-direction: column;
}

.avant img {
    width: 10vw;
}

.loadTerminer {
    animation: load 2s 1s both;
}

.loadTerminer2 {
    animation: load2 2s 1s both;
}

.loadTerminer3 {
    animation: load3 2s 1s both;
}

@keyframes load {
    0%{
        background-color: black;
        color: white;
        opacity: 1;
        z-index: 5;
    }
    10%, 50% {
        color: transparent;
        background-color: black;
        opacity: 1;
        z-index: 5;
    }
    99% {
        opacity: 0;
        color: transparent;
        z-index: 5;
    }
    100% {
        opacity: 0;
        color: transparent;
        z-index: -1;
    }
}

@keyframes load2 {
    0% {
        opacity: 0;
    }
    40%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes load3 {
    0% {
        opacity: 1;
    }
    10%, 100% {
        opacity: 0;
    }
}

/* barre de scroll */
body::-webkit-scrollbar {
    width: 7px; 
  }
  
body::-webkit-scrollbar-track { 
    background: black;
}

body::-webkit-scrollbar-thumb {
    background-color: gainsboro; 
    border-radius: 20px; 
    border: 1px solid black; 
}