@media screen and (max-width: 768px) { /*petit*/

    .r {
        min-width: 100vw;
        flex-direction: column;
    }

    @keyframes retex {
        0% {
            min-height: 0vh;
        }
        100% {
            min-height: fit-content;
        }
    }

    .rtext {
        width: 85vw;
    }

    .ligne {
        flex-direction: column;
    }

    .rresultat img {
        width: 85vw;
        height: auto;
    }

    .rphoto img {
        width: 80vw;
        height: auto;
    }

    .rtext img {
        width: auto;
        height: 7vh;
    }
}

@media screen and (min-width: 769px) {  /*grand*/

    .r {
        min-height: 100vh;
        flex-direction: row;
    }

    @keyframes retex {
        0% {
            min-width: 0vw;
        }
        100% {
            min-width: fit-content;
        }
    }

    .rtext {
        width: 40vw;
    }

    .ligne {
        flex-direction: row;
    }

    .rresultat img {
        height: 65vh;
        width: auto;
    }

    .rphoto img {
        height: 20vh;
        width: auto;
    }

    .r a:hover {
        color: black;
        background-color: gainsboro;
        transition: all 0.2s ease-in-out;
    }

    .rtext img {
        width: 3vw;
        height: auto;
    }
}

/*retex*/

.r {
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    display: none;
    width: 0vw;
    border-right: solid 1px black;
    z-index: 2;
}

.rApres {
    animation: retex 0s both;
    display: flex;
}

.rtext {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5vw;
}


.rphoto, .rresultat{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5vw;
}

.rphoto img {
    margin: 5px;
}

.ligne {
    display: flex;
}

.rtext img {
    float: right;
}

.r a {
    text-decoration: none;
    color: #f2f2f2;
    background-color: black;
    border-radius: 90px;
    padding: 5px;
}




