@media screen and (max-width: 768px) { /*petit*/

    .r {
        min-width: 100vw;
        flex-direction: column;
    }

    @keyframes retex {
        0% {
            min-height: 0vh;
        }
        100% {
            min-height: fit-content;
        }
    }

    .rtext {
        width: 85vw;
        margin-top: 2.5vh;
    }

    .ligne {
        flex-direction: column;
    }

    .rresultat img {
        width: 85vw;
        height: auto;
    }

    .rphoto img {
        width: 80vw;
        height: auto;
    }

    .rtext img {
        width: auto;
        height: 7vh;
    }

    .separation {
        width: 100vw;
        height: 0;
        border-bottom: solid 1px rgb(136, 136, 136);
    }
}

@media screen and (min-width: 769px) {  /*grand*/

    .r {
        max-height: 100vh;
        min-height: 100vh;
        flex-direction: row;
    }

    @keyframes retex {
        0% {
            min-width: 0vw;
        }
        100% {
            min-width: fit-content;
        }
    }

    .rtext {
        min-width: 40vw;
        margin-left: 2.5vw;
    }

    .ligne {
        flex-direction: row;
    }

    .rresultat img {
        height: 65vh;
        width: auto;
    }

    .rphoto img {
        height: 20vh;
        width: auto;
    }

    .r a:hover {
        transition: all 0.2s ease-in-out;
    }

    .r2 a:hover {
        background-color: #4d7c3b;
    }

    .r3 a:hover {
        background-color: #1c2a3b;
    }

    .r4 a:hover {
        background-color: #804998;
    }

    .rtext img {
        width: 3vw;
        height: auto;
    }

    .separation {
        height: 100vh;
        width: 1px;
        border-right: solid 1px rgb(136, 136, 136);
    }
}

/*retex*/

.r {
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    display: none;
    width: 0vw;
    z-index: 0;
}
/*
.rApresElement {
    animation: retexElement 1s both;
}

@keyframes retexElement {
    0%, 50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
*/
.rApres {
    animation: retex 0s both;
    display: flex;
}

.rtext {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5vw;
    background-color: gainsboro;
}

.rphoto, .rresultat{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5vw;
}

.rphoto img {
    margin: 5px;
}

.ligne {
    display: flex;
}

.rtext img {
    float: right;
    margin-top: 7px;
    margin-left: 7px;
}

.r a {
    text-decoration: none;
    color: #f2f2f2;
    background-color: rgb(136, 136, 136);
    border-radius: 90px;
    padding: 7px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    width: fit-content;
}