@media screen and (max-width: 768px) { /*petit*/
    section {
        min-width: 100vw;
        min-height: 25vh;
        border-top: solid 1px black;
        border-right: none;
    }

    .s1, .s7 {
        min-height: 100vh;
        border-top: none;
    }

    .s img {
        width: 9vh;
        height: 9vh;
    }

}

@media screen and (min-width: 769px) {  /*grand*/
    section {
        min-width: 25vw;
        min-height: 100vh;
        border-right: solid 1px black;
    }

    .s img {
        width: 5vw;
        height: 5vw;
    }

    .s:hover .ig {
        display: flex;
    }
    
    .s:hover .ii {
        display: none;
    }

    .s:hover {
        background-color: black;
        color: #f2f2f2;
        transition: all 0.2s ease-out;
    }
    
    .s:hover small {
        color: #f2f2f2;
        transition: all 0.2s ease-out;
    }

    .s7 a:hover img {
        filter: invert();
        transition: all 0.2s ease-out;
    }
    
    .s7 a:hover {
        color: #f2f2f2;
        transition: all 0.2s ease-out;
    }
}


/*Section*/

section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #f2f2f2;
    z-index: 1;
    top: 0;
}



section > div {
    padding: 2vw;
    min-width: 21vw;
}


.ig {
    display: none;
}

small {
    color: rgba(0, 0, 0, 0.575);
}

.s1 {
    background-color: transparent;
    min-width: 100vw;
}

.s7 {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(255, 174, 0, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

.s7 img{
    width: 3vw;
    height: 3vw;
    margin: 5px;
}



.s7 a {
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.s7 div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
