@media screen and (max-width: 768px) { /*petit*/
    section {
        min-width: 100vw;
        min-height: 25vh;
        border-top: solid 1px black;
        border-right: none;
    }

    .s1, .s7 {
        border-top: none;
    }

    .s7 {
        min-height: 100vh;
    }

    .s1 {
        min-height: 180vh;
    }

    .s img {
        width: 9vh;
        height: 9vh;
    }

    section > div {
        padding: 5vw;
        min-width: 15vw;
    }
}

@media screen and (min-width: 769px) {  /*grand*/
    section {
        min-width: 25vw;
        min-height: 100vh;
        max-height: 100vh;
        border-left: solid 1px black;
    }

    .s img, .sh img {
        width: 5vw;
        height: 5vw;
    }
    
    .sh .ig, .s:hover .ig {
        display: flex;
    }
    
    .s:hover .ii {
        display: none;
    }
    
    .sh, .s:hover{
        background-color: black;
        color: #f2f2f2;
        transition: all 0.2s ease-out;
    }
    
    .sh small, .s:hover small{
        color: #f2f2f2;
        transition: all 0.2s ease-out;
    }

    #sh2 {
        border: none;
    }

    .s7 a:hover img {
        filter: invert();
        transition: all 0.2s ease-out;
    }
    
    .s7 a:hover {
        color: #f2f2f2;
        transition: all 0.2s ease-out;
    }

    .s1 {
        border: none;
        min-height: 100vh;
        min-width: 100vw;
    }

    section > div {
        padding: 2vw;
        min-width: 21vw;
    }
}

/*Section*/

section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #f2f2f2;
    z-index: 1;
    top: 0;
    cursor: pointer;
}

.sh {
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 1;
    top: 0;
    cursor: pointer;
    border-left: solid 1px #f2f2f2;
}

.ig {
    display: none;
}

small {
    color: rgba(0, 0, 0, 0.575);
}

.s1 {
    background-color: transparent;
}

.s7 {
    background-color: #7189a1;
    /*
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(255, 174, 0, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

.s7 img{
    width: 3vw;
    height: 3vw;
    margin: 5px;
}

.s7 a {
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.s7 div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.s7, .s1 {
    cursor: auto;
}

.sh {
    display: none;
}